<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="index.html::head (title='Admin - Edit Menu')">
    <title></title>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     th:replace="/admin/adminNavBar.html::navigation"></nav>

<div class="container">
    <!--Content-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-custom h3"
                     th:text="${'Edit Menu - ' + #strings.capitalize(editableMenu.description)}">
                    Edit Menu
                </div>
                <div class="panel-body">
                    <!--Available dishes-->
                    <div class="col-md-6">
                        <form action="#" th:action="@{'/admin/menu/'+${editableMenu.getId()}+'/adddish'}"
                              th:object="${availableDishes}" method="post">

                            <table class="table table-default table-hover h4">
                                <thead class="thead-default">
                                <tr>
                                    <th colspan="2" th:text="${'Avaliable Dishes'}">Menu Name</th>
                                </tr>
                                </thead>
                                <tbody class="tbody-default">
                                <tr th:each="dish_,rowStat : ${availableDishes}" th:hidden="${dish_.deleted}">
                                    <td class="col-md-1">
                                        <input type="checkbox" th:name="dish" th:value="${dish_.id}"/>
                                    </td>
                                    <td th:text="${dish_.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <p><input class="btn btn-success" type="submit" value="Add"/>
                                <input class="btn btn-default" type="reset" value="Reset"/></p>
                        </form>
                    </div>
                    <!--Editable menu-->
                    <div class="col-md-6">
                        <form action="#" th:action="@{'/admin/menu/'+${editableMenu.getId()}+'/removedish'}"
                              th:object="${editableMenu}" method="post">

                            <table class="table table-default table-hover h4">
                                <thead class="thead-default">
                                <tr>
                                    <th colspan="2"
                                        th:text="${'Menu - ' + #strings.capitalize(editableMenu.description)}">Menu
                                        Name
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="tbody-default">
                                <tr th:each="dish_,rowStat : ${editableMenu.dishes}">
                                    <td class="col-md-1">
                                        <input type="checkbox" th:name="dish" th:value="${dish_.id}"/>
                                    </td>

                                    <td th:text="${dish_.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <p><input class="btn btn-danger" type="submit" value="Remove"/>
                                <input class="btn btn-default" type="reset" value="Reset"/></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="index.html::generalScripts"></div>

</body>
</html>