<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="index.html::head (title='Restaurant Scheme')">
    <title></title>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:replace="index.html::navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 h2 ">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-custom">
                    Restaurant Scheme
                </div>
                <div class="panel-body">
                    <img th:src="@{/img/shema_restaurant.png}">
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="index.html::generalScripts"></div>

</body>
</html>